<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>vm测试</title>
</head>
<body>
<h1>${message},${name}</h1>

    #foreach($name in $myList)
    <h2>${name}</h2>
    #end
</body>
</html>